@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

* {
  margin: 0;
  padding: 0;
}

.font-1{
  font-family: 'Satisfy', cursive;
  word-spacing: 8px;
  font-size: 26px;
}

.sidebar {
  background-color: black;
  color: white;
  height: 100vh;
}
.main-conatiner {
  display: flex;
}
.name {
  font-size: 14px;
}

.hide {
  display: none;
  transition: 2s cubic-bezier(0.23, 1, 0.32, 1);
}

.active {
  position: relative;
  /* background-color: white; */
  color: #7E22CE;
  margin-left: 3px;
  border-radius: 23px 1px 0px 23px;
  padding-left: 5px;
  transform: translateX(1px);
  transition: cubic-bezier(0, 0, 0.2, 1) .5s;
}

.expend {
    position: relative;
    /* background-color: white; */
    color: #7E22CE;
    margin-left: 3px;
    border-radius: 23px 1px 0px 23px;
    padding-left: 5px;
    transform: translateX(1px);
    transition: cubic-bezier(0, 0, 0.2, 1) .5s;
}

.navlink > .active::after,
.navlink > .active::before {
  content: "";
  position: absolute;
  top: -85px;
  width: 20px;
  height: 23px;
  border-radius: 0 0 15px 0;
  z-index: 1;
  left: 17px;
  transform: translate(0, 10vh);
  transition: all .4s;
  /* background-color: rgb(211, 59, 59);     */
}
.navlink > .active::before {
  top: auto;
  bottom: 41px;
  border-radius: 0 15px 0 0;
}

.active::after {
  box-shadow: 0 12px 0 0 #F8FAFC;
}

.active::before {
  box-shadow: 0 -12px 0 0 #F8FAFC;
}

.navlink > .expend::after,
.navlink > .expend::before {
  content: "";
  position: absolute;
  top: -23px;
  width: 20px;
  height: 23px;
  border-radius: 0 0 50px 0;
  z-index: 1;
  left: 153px;
  /* background-color: aqua; */
}
.navlink > .expend::before {
  top: auto;
  bottom: -23px;
  border-radius: 0 50px 0 0;
}

.expend::after {
  box-shadow: 0 12px 0 0 #F8FAFC;
}

.expend::before {
  box-shadow: 0 -12px 0 0 #F8FAFC;
}



.main_content{
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
}


